/*圓體*/
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #FFE495;
}
.top{
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	margin-right: 5px;
	background: #74A8D4;
	color: white;
	text-align: center;
	padding: 10px;
	line-height: 1.2;
	font-size: 14px;
}
.top:hover{
	color: white;
}
.header{
	width: 151px;
	height: 100%;
	background: #EEC343;
	float:left;
	position: fixed;
}
.logo h1{
	float:left;
}
.logo h1 a{
	display: block;
	height: 300px;
	width: 150px;
	/*Tips:隱藏h1文字，但仍保留h1欄位*/
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	background: url(../img/logo_s.png);
}
.rightmenu ul{
	float:left;
	width: 150px;
	margin: 10px 0px 0px 0px;
}
.rightmenu a{
	float:left;
	width: 140px;
	height: 22px;
	text-align: right;
	padding: 7px 11px 0px 0px;
	font-family: 'cwTeXYen', sans-serif;
}
.rightmenu a:hover{
	background: #FFE495;
	color: black;
}
.here{
	background: #FFE495;
}
.menuclear{
	clear:both;
}
.fan{
	text-align: center; 
	font-size: 24px; 
	margin-bottom: 12px;
}
.fan i{
	width: 30px;
}
.rightfooter{
	font-size: 12px;
	text-align: center;
	font-family: 'cwTeXYen', sans-serif;
}
.rightfooter_all{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 10px;
	margin-left: 6px;
}
.ham, #topmenu, #topmenu a{
	display: none;
}
.headerclear{
	height: 70px;
}
.content{
	display: block;
	margin-left: 150px;
	text-align: justify;
	float:left;
}
#inform{
	background: url('../img/banner_ll.png');
	background-size: cover;
	height: 100vh;
	text-align: center;
}
#inform img{
	height: 60px; 
	width: 130px; 
	margin-top: 515px;
}
#intro, #team, #curation, #feedback, #sponsor{
	padding: 30px 70px;
	height: 100vh;
}
#intro h2{
	text-align: left;
	font-size: 26px;
	font-family: 'cwTeXYen', sans-serif;
}
#intro p{
	padding: 25px;
}
#team, #feedback{
	background: #EEC343;
}
#team{
	background: url(../img/map1.jpg) left top fixed;
}
#team h2, #curation h2, #feedback h2, #sponsor h2{
	text-align: right;
	font-size: 24px;
	font-family: 'cwTeXYen', sans-serif;
}
.curator{
	margin: 0px auto 10px auto;
	text-align: center;
	font-size: 24px;
	font-family: 'cwTeXYen', sans-serif;
	width: 70%;
}
.curator li{
	margin-top: 10px;
}
.team-list{
	margin: auto;
	text-align: center;
	width: 70%;
	font-family: 'cwTeXYen', sans-serif;
	font-size: 18px;
}
.team-list li{
	display: inline-block;
	width: 250px;
	height: 100px;
}
.team-list li a{
	display: inline-block;
	margin-top: 15px;
}
.team-list li ul li{
	display: inline;
	height: 100px;
	margin: 0px 5px;
}
.team1_intro, .team2_intro, .team3_intro, .team4_intro, .team5_intro, .team6_intro, 
.team7_intro, .team8_intro, .team9_intro, .team10_intro, .team11_intro, .team12_intro{
	display: none; 
	margin-left: 80px;
}
.team_inform1{
	display: inline-block;
	text-align: center;
}
.team_title{
	margin-left: -20px;
}
.team_title img{
	width: 52px; 
	height: 52px; 
	margin-right: 5px; 
	display: inline;
}
.team_title h3{
	font-size: 38px; 
	font-weight: bold; 
	font-family: 'cwTeXYen', sans-serif; 
	display: inline; 
	position: relative; 
	bottom: 9px;
}
.team_photo{
	width: 80%; 
	height: 60%; 
	margin-top: 15px;
}
.team_work1{
	margin-left: 0px;
	margin-top: 10px;
}
.team_work2{
	margin-left: -10px;
}
.team_mem{	
	margin-bottom: 15px;
}
.job1{
	display: inline; 
	font-size: 18px; 
	font-weight: bold; 
	font-family: 'cwTeXYen', sans-serif;
}
.job2{
	display: inline; 
	font-size: 18px; 
	font-weight: bold; 
	font-family: 'cwTeXYen', sans-serif;
	margin-left: 10px;
}
.name{
	display: inline; 
	font-family: 'cwTeXYen', sans-serif; 
	font-size: 18px;
	margin-left: 5px;
}
/*再修*/
.team_inform2{
	display:inline-block;
	width: 40%; 
	margin-left: 30px;
	position: relative;
	bottom: 55px;
}
.team2_intro .team_inform2{
	bottom: 160px;
}
.team3_intro .team_inform2{
	bottom: 85px;
}
.team4_intro .team_inform2{
	bottom: 105px;
}
.team5_intro .team_inform2{
	bottom: 160px;
}
.team6_intro .team_inform2{
	bottom: 175px;
}
.team7_intro .team_inform2{
	bottom: 90px;
}
.team8_intro .team_inform2{
	bottom: 105px;
}
.team9_intro .team_inform2{
	bottom: 50px;
}
.team10_intro .team_inform2{
	bottom: 140px;
}
.team11_intro .team_inform2{
	bottom: 40px;
}
.team12_intro .team_inform2{
	bottom: 55px;
}
.team_inform2 h4{
	font-size: 22px; 
	font-weight: bold; 
	margin-bottom: 10px; 
	font-family: 'cwTeXYen', sans-serif;
}
.team_inform2 p{
	font-family: 'cwTeXYen', sans-serif; 
	font-size: 18px;
}
.back{
	font-family: 'cwTeXYen', sans-serif;
	float: right;
}
.footer{
	display: none;
}

/*--------------------------------------------響應式網頁設定(平板)--------------------------------------------*/

@media(max-width: 1040px)  {
.header{
	width: 100%;
	height: 60px;
	position: fixed absolute;
	z-index: 1;
	float:left;
}
.logo h1{
	float:left;
}
.logo h1 a{
	background: url(../img/logo_h.png); 
	display: block;
	height: 60px;
	width: 200px;
	/*Tips:隱藏h1文字，但仍保留h1欄位*/
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
.fan, .rightfooter{
	display: none;
}
.ham{
	display: block;
	float:right;
	width: 50px;
	padding-top:16px;
}
.ham i{
	font-size: 32px;
}
#topmenu{
	width: 100%;
	height: 216px;
	background: #87AED1;
	color:white;
	float: left;
}
#topmenu a{
	display: block;
	text-align: center;
	padding: 10px 0px;
	font-family: 'cwTeXYen', sans-serif;
}
.header ul{
	display: none;
}
.content{
	margin-left: 0px;
}
#intro{
	padding: 30px 30px;
}
#team{
	padding-bottom: 40px;
}
#intro, #team, #curation, #feedback, #sponsor{
	height: 100%;
	padding-top: 80px;
}

.team1_intro, .team2_intro, .team3_intro, .team4_intro, .team5_intro, .team6_intro, 
.team7_intro, .team8_intro, .team9_intro, .team10_intro, .team11_intro, .team12_intro{
	margin-left: 0px;
}
.team_inform1{
	display: block;
}

.team_inform2{
	display:block;
	width: 100%;
	text-align: center;
	margin-left: 0px;
	margin-top: 50px;
	bottom: 0;
}
.team2_intro .team_inform2{
	bottom: 0px;
}
.team3_intro .team_inform2{
	bottom: 0px;
}
.team4_intro .team_inform2{
	bottom: 0px;
}
.team5_intro .team_inform2{
	bottom: 0px;
}
.team6_intro .team_inform2{
	bottom: 0px;
}
.team7_intro .team_inform2{
	bottom: 0px;
}
.team8_intro .team_inform2{
	bottom: 0px;
}
.team9_intro .team_inform2{
	bottom: 0px;
}
.team10_intro .team_inform2{
	bottom: 0px;
}
.team11_intro .team_inform2{
	bottom: 0px;
}
.team12_intro .team_inform2{
	bottom: 0px;
}
.team_photo{
	width: 60%; 
	height: 40%; 
	margin-top: 15px;
}
.back{
	float: none;
}
.contentclear{
	clear:both;
}
.footer{
	display: block;
	height: 50px;
	background: #EEC343;
	font-family: 'cwTeXYen', sans-serif;
}
.footer p{
	text-align: center;
	padding: 17px;
}
}

/*--------------------------------------------響應式網頁設定(手機)--------------------------------------------*/

@media(max-width: 880px)  {

.curator{
	width: 100%;
}
.team-list{
	width: 100%;
}
.team_photo{
	width: 100%; 
	height: 80%; 
	margin-top: 15px;
}
}