/*圓體*/
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #FFE495;
}
.header{
	width: 150px;
	height: 100%;
	background: #EEC343;
	float:left;
	position: fixed;
}
.logo h1{
	float:left;
}
.logo h1 a{
	display: block;
	height: 300px;
	width: 150px;
	/*Tips:隱藏h1文字，但仍保留h1欄位*/
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	background: url(../img/logo_s.png);
}
.topmenu ul{
	float:left;
	width: 150px;
	margin: 10px 0px 0px 0px;
}
.topmenu li a{
	float:left;
	width: 140px;
	height: 22px;
	text-align: right;
	padding: 7px 10px 0px 0px;
	font-family: 'cwTeXYen', sans-serif;
}
.topmenu li a:hover{
	background: #FFE495;
	color: black;
}
.menuclear{
	clear:both;
	padding: 10px;
}
.fan{
	text-align: center; 
	font-size: 24px; 
	margin-bottom: 12px;
}
.fan i{
	width: 30px;
}
.topfooter{
	font-size: 12px;
	text-align: center;
	font-family: 'cwTeXYen', sans-serif;
}
.menu, #menu, #menu a{
	display: none;
}
.headerclear{
	height: 70px;
}
.content{
	display: block;
	margin-left: 150px;
	text-align: justify;
	float:left;
}
#intro, #team, #curation, #feedback, #sponsor{
	padding: 30px 70px;
}
#intro h2{
	text-align: left;
	font-size: 26px;
	font-family: 'cwTeXYen', sans-serif;
}
#intro p{
	padding: 25px;
}
#team, #feedback{
	background: #EEC343;
}
#team h2, #curation h2, #feedback h2, #sponsor h2{
	text-align: right;
	font-size: 24px;
	font-family: 'cwTeXYen', sans-serif;
}
.banner{
	width: 100%;
}
.curator{
	margin: 0px auto 10px auto;
	text-align: center;
	font-size: 24px;
	font-family: 'cwTeXYen', sans-serif;
	width: 70%;
}
.curator li{
	margin-top: 10px;
}
.team-list{
	margin: auto;
	text-align: center;
	width: 70%;
	font-family: 'cwTeXYen', sans-serif;
	font-size: 18px;
}
.team-list li{
	display: inline-block;
	width: 250px;
	height: 100px;
}
.team-list li a{
	display: inline-block;
	margin-top: 15px;
}
.team-list li ul li{
	display: inline;
	height: 100px;
	margin: 0px 5px;
}
.team4_intro{
	display: none; 
	margin-left: 70px;
}
.team_inform1{
	display: inline-block;
	text-align: center;
}
.team_title{
	margin-left: -150px;
}
.team_work1{
	margin-left: -140px;
}
.team_work2{
	margin-left: -150px;
}
.team_mem{	
	margin-bottom: 15px;
	margin-left: -90px;
}
.job1{
	display: inline; 
	font-size: 18px; 
	font-weight: bold; 
	font-family: 'cwTeXYen', sans-serif;
}
.job2{
	display: inline; 
	font-size: 18px; 
	font-weight: bold; 
	font-family: 'cwTeXYen', sans-serif;
	margin-left: 10px;
}
.name{
	display: inline; 
	font-family: 'cwTeXYen', sans-serif; 
	font-size: 18px;
	margin-left: 5px;
}
.team_inform2{
	display:block; 
	margin-left: 400px;
	position: relative; 
	bottom: 422px; 
	padding-right: 70px;
}
.team_inform2 p{
	font-family: 'cwTeXYen', sans-serif; 
	font-size: 20px;
}
.footer{
	display: none;
}

/*--------------------------------------------響應式網頁設定--------------------------------------------*/

@media(max-width: 1040px)  {
.header{
	width: 100%;
	height: 60px;
	position: fixed absolute;
	z-index: 1;
	float:left;
}
.logo h1{
	float:left;
}
.logo h1 a{
	background: url(../img/logo_h.png); 
	display: block;
	height: 60px;
	width: 200px;
	/*Tips:隱藏h1文字，但仍保留h1欄位*/
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
.fan, .topfooter{
	display: none;
}
.menu{
	display: block;
	float:right;
	width: 50px;
	padding-top:16px;
}
.menu i{
	font-size: 32px;
}
#menu{
	width: 100%;
	height: 216px;
	background: #EEC343;
	float: left;
}
#menu a{
	display: block;
	text-align: center;
	padding: 10px 0px;
	font-family: 'cwTeXYen', sans-serif;
}
.header ul{
	display: none;
}
.content{
	margin-left: 0px;
}
.banner{
	width: 100%;
}
.intro{
	padding: 0px 30px;
	height: 100%;
}
.contentclear{
	clear:both;
}
.footer{
	display: block;
	height: 50px;
	background: #EEC343;
	font-family: 'cwTeXYen', sans-serif;
}
.footer p{
	text-align: center;
	padding: 17px;
}
}

@media(max-width: 880px)  {

.team4_intro{
	margin-left: 0px;
}
.team_inform1{
	display: block;
}
.team_title{
	margin-left: -15px;
}
.team_work1{
	margin-left: 0px;
}
.team_work2{
	margin-left: -10px;
}
.team_mem{	
	margin-bottom: 15px;
	margin-left: 0px;
}
.team_inform2{
	display:block;
	margin-top: 30px; 
	margin-left: 0px; 
	position: relative; 
	bottom: 0px; 
	padding: 0px 50px;
	text-align: center;
}
.team_inform2 p{
	font-size: 18px;
}
}