.header{
	width: 150px;
	height: 100%;
	background: white;
	float:left;
	position: fixed;
}
.logo h1{
	float:left;
}
.logo h1 a{
	background: url("../img/"); 
	display: block;
	text-decoration: none;
	height: 300px;
	width: 150px;
	/*Tips:隱藏h1文字，但仍保留h1欄位*/
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	background: grey;
}
.topmenu ul{
	float:left;
	width: 150px;
	margin: 10px 0px 0px 0px;
}
.topmenu li a{
	float:left;
	width: 140px;
	height: 25px;
	color:black;
	text-decoration: none;
	text-align: right;
	padding: 7px 10px 0px 0px;
}
.topmenu li a:hover{
	background: #EEEEEE;
}
.here{
	background: #EEEEEE;
}
.menuclear{
	clear:both;
	padding: 10px;
}
.fan{
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
}
.fan a{
	color:black;
}
.fan a:hover{
	color: grey;
}
.topfooter{
	font-size: 12px;
	text-align: center;
}
.menu{
	display: none;
}
#menu{
	display: none;
}
#menu a{
	display: none;
}
.headerclear{
	height: 70px;
}
.content{
	display: block;
	margin-left: 150px;
	text-align: justify;
	float:left;
}
.banner {
	height: 580px;
	background: #EEEEEE;
}
.intro{
	padding: 0px 70px 20px 70px;
}
.intro h2{
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
}
.intro p{
	padding: 25px;
}
.content1{
	background: #EEEEEE;
	height: 580px;
}
.content1 h2{
	text-align: right;
	padding-top: 30px;
	padding-right: 70px;
	font-size: 24px;
	font-weight: bold;
}
.content2{
	height: 580px;
}
.content2 h2{
	text-align: right;
	padding-top: 30px;
	padding-right: 70px;
	font-size: 24px;
	font-weight: bold;
}
.curator{
	margin: 0px auto 30px auto;
	text-align: center;
	font-size: 24px;
	width: 70%;
}
.curator li{
	margin: 10px 0px;
}
.curator a{
	text-decoration: none;
	color: black;
}
.curator a:hover{
	color: grey;
}
.topic-list{
	margin: auto;
	text-align: center;
	width: 70%;
}
.topic-list li{
	display: inline-block;
	width: 250px;
	height: 100px;
}
.topic-list li a{
	text-decoration: none;
	display: inline-block;
	margin: 20px 0px 0px 0px;
}
.topic-list li a:hover, .topic-list li a.active{
	color: white;
}
.topic-list li ul li{
	display: inline;
	height: 100px;
	margin: 0px 10px;
}
.topic-list li ul li a{
	color:black;
}
.topic-list li ul li a:hover, .topic-list li ul li a.active{
	color: grey;
}
.footer{
	display: none;
}

/*響應式網頁設定*/
@media(max-width: 900px)  {
.header{
	width: 100%;
	height: 60px;
	background: #EEEEEE;
	position: fixed;
	float:left;
}
.logo h1{
	float:left;
}
.logo h1 a{
	background: grey; 
	display: block;
	text-decoration: none;
	height: 60px;
	width: 200px;
	/*Tips:隱藏h1文字，但仍保留h1欄位*/
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
.fan{
	display: none;
}
.topfooter{
	display: none;
}
.menu{
	display: block;
	float:right;
	width: 50px;
	padding-top:16px;
}
.menu i{
	font-size: 32px;
}
.menu a{
	color: black;
}
.menu a:hover{
	color: grey;
}
#menu{
	width: 100%;
	height: 216px;
	background: white;
	float: left;
}
#menu a{
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 0px;
	color:black;
}
#menu a:hover{
	background: #EEEEEE;
}
.header ul{
	display: none;
}
.content{
	margin-left: 0px;
}
#welcome{
	height: 60px;
}
#intro{
	height: 60px;
	background: #EEEEEE;
}
#team{
	height: 60px;
}
#curation{
	height: 60px;
	background: #EEEEEE;
}
#feedback{
	height: 60px;
}
#sponsor{
	height: 60px;
	background: #EEEEEE;
}
.contentclear{
	clear:both;
	padding: 10px;
}
.footer{
	display: block;
	height: 50px;
	background: #EEEEEE;
	padding: 5px;
}
.footer p{
	text-align: center;
	padding: 17px;
}
}
@media(max-width: 600px)  {
}