[class*="col-"] {
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.content{
	background: url(../img/team_intro.png) fixed;
	background-size: cover;
	height: 100%;
	padding-bottom: 40px;
}
.team_intro{
	display: none;
	padding-top: 40px;
	margin-left: 150px;
	font-size: 18px;
}
.team_intro h4{
	font-size: 22px; 
	font-weight: bold;
	margin-bottom: 20px; 
}
.team_title img{
	width: 100px; 
	height: 100px; 
	margin-right: 5px; 
	display: inline;
}
.team_title h3{
	font-size: 38px; 
	font-weight: bold; 
	display: inline; 
	position: relative; 
	bottom: 32px;
	left: -15px;
}
.team_photo{
	width: 300px; 
	height: 200px;
	margin-top: 5px;
	margin-bottom: 30px;
}
.team_work{
	margin-top: 40px;
	margin-bottom: 40px;
}
.work{
	width: 150px;
	height: 100px;
	display: inline-block;
}
.web{
	background: url('../img/work_web.png');
}
.pdf{
	background: url('../img/work_pdf.png');
}
.fb{
	background: url('../img/work_fb.png');
}
.ig{
	background: url('../img/work_ig.png');
}
.team_mem{	
	margin-bottom: 15px;
}
.team_mem span{
	margin: 0px 10px;
}
.team_mem div{
	margin-bottom: 10px;
}
.job{
	display: inline;  
	color: brown;
}
.name{
	display: inline; 
	margin-left: 5px;
}
.team_des{
	line-height: 1.2;
}
.team_teach{
	margin-top: 20px;
}
.back{
	float: right;
	margin-top: 30px;
}

/*--------------------------------------------響應式網頁設定(平板)--------------------------------------------*/

@media(max-width: 1040px)  {

.content{
	height: 100%;
	padding-bottom: 0px;
}
.team_intro{
	padding-top: 110px;
	margin-left: 150px;
}

.teamclear{
	clear: both;
	padding-top: 40px;
}
}

/*--------------------------------------------響應式網頁設定(手機)--------------------------------------------*/

@media(max-width: 880px)  {

[class*="col-"] {
	width: 100%;
}
.content{
	text-align: center;
}
.team_intro{
	margin-left: 0px;
}
.team_intro2{
	margin-top: -10px;
}
.team_photo{
	margin-bottom: 50px;
}
.team_mem div{
	margin-bottom: 20px;
}
.team_work{
	margin-top: 50px;
	margin-bottom: 50px;
}
.team_des{
	padding: 0px 40px;
}
.team_des p{
	text-align: left;
}
.back{
	float: none;
}


}