#team{
	background: url(../img/map2.jpg);
	background-size: cover;
}
.team_intro{
	display: none;
	margin-left: 100px;
}
.team_intro1{
	width: 40%;
	float: left;
}
.team_intro2{
	width: 50%;
	float: left;
	margin-top: 105px;
}
.team_intro h4{
	font-size: 22px; 
	font-weight: bold; 
	margin-bottom: 10px; 
}
.team_intro p{
	font-size: 18px; 
}
.team_title{
	margin-left: 0px;
}
.team_title img{
	width: 100px; 
	height: 100px; 
	margin-right: 5px; 
	display: inline;
}
.team_title h3{
	font-size: 38px; 
	font-weight: bold; 
	display: inline; 
	position: relative; 
	bottom: 32px;
	left: -15px;
}
.team_photo{
	width: 300px; 
	height: 200px; 
}
.team_work{
	margin-left: 45px;
}
.team_work1, .team_work2{
	margin-top: 15px;
}
.team_mem{	
	margin-bottom: 15px;
	margin-left: 20px;
}
.job1, .job2{
	display: inline; 
	font-size: 18px; 
	font-weight: bold; 
}
.job2{
	margin-left: 10px;
}
.name{
	display: inline; 
	font-size: 18px;
	margin-left: 5px;
}
.back{
	float: right;
}

/*--------------------------------------------響應式網頁設定(平板)--------------------------------------------*/

@media(max-width: 1040px)  {

.team_intro{
	margin-left: 0px;
}
.team_intro1{
	width: auto;
	float: none;
}
.team_intro2{
	width: auto;
	margin-top: 10px;
	float: none;
}
.back{
	float: none;
}

}

/*--------------------------------------------響應式網頁設定(手機)--------------------------------------------*/

@media(max-width: 880px)  {

}